

body {
  margin: 0;
  font-family: sans-serif;
  min-width: 250px;
  background: url(/images/desk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

img {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.tarefaAdd {
  padding: 30px 40px;
  color: #00b1cc;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif
}

.tarefaList {
  padding: 30px 40px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif
}

::placeholder {
  color: #c9c9c9;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px 0px 10px 5px;
  font-size: 16px;
  height: 20px;
  background-color: #00000070;
  border-radius: 20px;
  border: none;
  color: white;
}

input:focus {
  outline: none;
  border: 2px solid #00b1cc;
}

label {
  float: left;
}

button {
  outline: none;
}

.btnDel {
  background-color: #00b1cc;
  border: none;
  border-radius: 5px;
  width: 80px;
  margin-left: 2px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: right;  
  margin-right: 3%;
}

.btnAdd {
  background-color: #00b1cc;
  border: none;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 10px;
  border: none;  
  background-color: #00000070;
  color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 20px;
}

th {
  border-radius: 20px;
  height: 40px;
}

tr {
  border: none;
  height: 30px;
}